@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Сервис для поиска адреса в ФИАС</h1>
    <p class="lead">FIAS Service это сервис для поиска адресов объектов в базе Федеральной информационной адресной системе</p>
    <p><a href="http://fias.nalog.ru/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="viewModel">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <input id="fias-search" type="text" class="form-control" style="max-width: 100%;" name="pattern" placeholder="город улица">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: Search"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>

    <br>

    <div class="row" data-bind="if: status() == 'search'">
        <div class="alert alert-info" role="alert">
            <span>Поиск...</span>
        </div>
    </div>

    <div class="list-group" data-bind="foreach: AddrObjects">
        <a class="list-group-item" data-bind="text: FullName, click: $parent.SearchHouse"></a>
    </div>

    <div class="list-group" data-bind="if: CurrentAddr">
        <button class="btn btn-lg" style="width:100%" data-bind="text: CurrentAddr().FullName, click: SearchHouse(CurrentAddr()), css: { 'btn-success': CurrentAddr().Selected}"></button>
    </div>

    <div class="btn-group" data-bind="foreach: HouseObjects">
        <button type="button" style="width: 50px; margin-bottom: 10px" class="btn btn-default" data-bind="text: FullName(), click: $parent.SearchRoom, css: { 'btn-success': Selected }"></button>
    </div>

    <div class="list-group" data-bind="if: CurrentHouse">
        <button class="btn btn-default" style="width:50px" data-bind="text: CurrentHouse().FullName(), click: CurrentHouse().Select, css: { 'btn-success': CurrentHouse().Selected}"></button>
    </div>

    <div class="btn-group" data-bind="foreach: RoomObjects">
        <button type="button" style="width: 50px; margin-bottom: 10px" class="btn btn-default" data-bind="text: FullName(), click: Select, css: { 'btn-success': Selected }"></button>
    </div>

    <p data-bind="if: SelectedNode">
        <button class="btn btn-primary" type="button" data-bind="click: Save">Готово</button>
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>
        var apiUrl = "https://xml.farpoint-nn.ru";
    </script>

    <script src="~/Scripts/fias.js"></script>

    <script type="text/javascript">
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $("#fias-search").keyup(function () { delay(App.viewModel.Search, 1000); });
    </script>
}
